body {
    position: relative;
    min-height: 100vh;
    background-color: #E9ECEF;
    /* background-color: #202020; */
    color: #ffffff;
}

.container {
    width: 100%;
    margin: 0 auto;
    /* background-color: #202020; */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 55px;
    color: #202020;
    padding-bottom: 250px;
    /* min-height: 100vh; */
}

.container .section-title {
    width: 100%;
    text-align: center;
    padding: 100px 0 0 0;
    color: #202020;
    font-weight: 800;
    font-size: 35px;
}

.carousel-height {
    height: 500px;
}

.main-paragraph {
    text-align: center;
}

.background-clip {
    width: 100%;
}


.background-clip video,
.background-clip img,
.background-clip iframe {
    width: 100%;
    height: 500px;
}


.object-fit-contain {
    width: 10%;
    margin: 0 auto;
    background-color: #707070;
    height: 100vh;
}

.maps-container {
    width: 100%;
    margin-top: 100px;
}

.maps {
    padding: 0;
    margin: 0 auto;
    height: 1000px;
}

.email-info {
    text-align: start;
}

.custom-card img {
    width: 100%;
    height: 250px;
}

.custom-card:hover {
    scale: 0.95;
}

.order {
    display: flex;
    flex-direction: column;
}

.order a  {
    text-decoration: none;
    
}

.order a:hover {
    color: white;
    background-color:  black;
}

.button {
    border: none;
    padding: 10px 25px;
    border-radius: 10px;
    transition: ease-in-out 200ms;
    border: 1px solid #929292;
}

.button:hover {
    background-color: rgb(106, 75, 134);
    color: #ffffff;
}

.motorcycle-list {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
}

.motorcycle-list .custom-card {
    width: 100%;
    z-index: 99999;
    transition: ease-in-out 200ms;
}

table {
    width: 15%;
}

th,
td {
    padding: 10px;
}

table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
}

.contact-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 40px;
    gap: 10px;
    background-color: #929292;
    border-radius: 10px;
}

.contact-form .form-group {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.contact-form .form-group label {
    font-weight: 600;
}

.contact-form .form-group input {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border: none;
}

.contact-form button {
    width: 100%;
}

footer {
    width: 100%;
    padding: 20px 0;
    background-color: #212529;
    position: absolute;
    bottom: 0;
    left: 0;
}

.footer-container {
    width: 100%;
    margin: 0 auto;
}

@media screen and (min-width: 768px) {
    .container, .footer-container {
        width: 80%;
    }

    .contact-form {
        width: 50%;
    }

    .contact-form button {
        width: auto;
        align-self: flex-start;
    }

    .motorcycle-list .custom-card {
        width: 40%;
    }
}


@media screen and (min-width: 1024px) {
    .motorcycle-list .custom-card {
        width: 30%;
    }
}



